<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{chatroom.name}} - CollegeChat</title> <!-- TODO: Add chatroom name here -->
    <link rel="stylesheet" href="/static/_collegechat.css">
</head>
<body>
<div id="chatroom_name">
    <h1>{{chatroom.name}}</h1>
</div>
<div id="messages">
    {% for message in chatroom.messages %}
    <div class="message">
        <div class="message_sender">{{message.sender.username}}</div>
        <div class="message_body">{{message.contents}}</div>
        <div class="message_timestamp">{{message.ts}}</div>
    </div>
    {% endfor %}
</div>
<div id="new_message_form">
    <h2>Write a message</h2>
    <form method="post" action="/chatroom/chatroomID/messages/add">
        <input type="text" placeholder="Say something..." size="30">
        <input type="submit" value="Post message">
        <input type="reset" value="Cancel">
    </form>
</div>
</body>
</html>