<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CollegeChat - CHATROOM NAME}}</title> <!-- TODO: Add chatroom name here -->
</head>
<body>
<div id="chatroom_name">
    <h1>Chatroom Name Here</h1>
</div>
<div id="messages">
    <div class="message">
        <div class="message_sender">Username</div>
        <div class="message_body">Here is a message that is hard-coded</div>
        <div clas="message_timestamp">HH:MM:SS DD:MM:YY</div>
    </div>
</div>
<div id="new_message_form">
    <h2>Write a message</h2>
    <form method="post" action="/chatroom/chatroomID/messages/add">
        <input type="text" placeholder="Say something..." size="30">
        <input type="submit" value="Post message">
        <input type="reset" value="Cancel">
    </form>
</div>
</body>
</html>