body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.message{

    border-style: solid;
    border-width: thin;
    border-color: navy;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: -1px 2px 4px 0px #aaaaaa;
    background-color: #16c7ff;

}

.message_body{
        display: inline-block;
}

.message_sender{
    display: inline-block;
    min-width: 50px;
    font-weight: bolder;
    color: red;
}

.message_timestamp{
    font-size: xx-small;
    color: white;
    font-style: italic;
    margin-top: 2px;
}