<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ cr.name }} - CollegeChat</title>
    <link href="/static/collegechat.css" rel="stylesheet">
</head>
<body>

    <h1>{{ cr.name }}</h1>

    {% for m in cr.messages %}

    <div class="message">
        <div class="message_sender">{{ m.sender.username }}</div>
        <div class="message_body">{{ m.contents }}</div>
        <div class="message_timestamp">{{ m.ts }}</div>
    </div>

    {% endfor %}

    <hr>

    <h2>Send a message...</h2>

    <form action="/chatroom/{{cr.id}}/messages/add" method="post">

        <textarea name="new_message_text" class="new_message_text" cols="40" rows="3" placeholder="Enter your message..."></textarea>
        <input type="submit" value="Send!">

    </form>

</body>
</html>