<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CollegeChat - Login</title>
    <link href="/static/collegechat.css" rel="stylesheet">
</head>
<body>
    <h1>CollegeChat Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="Submit" value="Login!">
    </form>
</body>
</html>